<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.Experimental.AppContentIndexerPreview" version="1.8.130-experimental-g62fe9f579a" targetFramework="native" />
    <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
    <package id="Microsoft.Windows.CppWinRT" version="2.0.220531.1" targetFramework="native" />
    <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22621.756" targetFramework="native" />
    <package id="Microsoft.WindowsAppSDK" version="1.8.250501003-experimental" targetFramework="native" />
</packages>